@{ 
    Layout = "_LayoutHome";
}
<div class="home-page">
    <section>
        <div class="body-nav">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav-panel">
                        <h2>@Html.ActionLink("History", "Index", "History")</h2>
                        <div class="item-text">
                            Info on the history of the Bryce family
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-panel">
                        <h2>@Html.ActionLink("Events", "Index", "Event")</h2>
                        <div class="item-text">
                            See a schedule of and information about upcoming family events
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-panel">
                        <h2>@Html.ActionLink("Galleries", "Index", "Gallery")</h2>
                        <div class="item-text">
                            View pics and stories from previous family events and see a schedule of upcoming events
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-panel">
                        <h2>@Html.ActionLink("People", "Index", "People")</h2>
                        <div class="item-text">
                            Contact Members of the family
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-panel">
                        <h2>@Html.ActionLink("Next Family Event", "Detail", "Event")</h2>
                        <div class="item-text">
                            That thing in March ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>