@inject BryceFamily.Web.MVC.Infrastructure.ContextService ContextService
@inject BryceFamily.Repo.Core.Read.FamilyEvents.IFamilyEventReadRepository Events
@inject BryceFamily.Repo.Core.Read.Gallery.IGalleryReadRepository Galleries
@inject BryceFamily.Repo.Core.Read.ImageReference.IImageReferenceReadRepository ImageReferences
@inject BryceFamily.Web.MVC.Infrastructure.CDNServiceRoot serviceRoot
@using System.Threading;

@{ 
    Layout = "_LayoutHome";
    var eventGuid = new Guid("4e0e876e-2f9d-459c-8740-7488da3d7881");
    var frontPageEvent = await Events.Load(eventGuid, CancellationToken.None);
    var gallery = (await Galleries.FindAllByFamilyEvent(frontPageEvent.ID, CancellationToken.None)).FirstOrDefault(g => g.DefaultFamilyEventGallery);
    var img = (await ImageReferences.LoadByGallery(gallery.ID, CancellationToken.None)).FirstOrDefault(t => t.DefaultGalleryImage);
}
<div class="home-page">
    <section>
        <div class="body-nav">
            <div class="row">
                <div class="col-md-3">
                    <div class="nav-panel history">
                        <div class="nav-panel-icon">&nbsp;</div>
                        <div class="nav-panel-content">
                            <h2>@Html.ActionLink("History", "Index", "History")</h2>
                            <div class="item-text">
                                Info on the history of the Bryce family
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-panel events">
                        <div class="nav-panel-icon">&nbsp;</div>
                        <div class="nav-panel-content">
                            <h2>@Html.ActionLink("Events", "Reunions", "Reunion")</h2>
                            <div class="item-text">
                                See a schedule of and information about upcoming family events
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-panel gallery">
                        <div class="nav-panel-icon">&nbsp;</div>
                        <div class="nav-panel-content">
                            <h2>@Html.ActionLink("Galleries", "Index", "Gallery")</h2>
                            <div class="item-text">
                                View pics and stories from previous family events and see a schedule of upcoming events
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="nav-panel people">
                        <div class="nav-panel-icon">&nbsp;</div>
                        <div class="nav-panel-content">
                            <h2>@Html.ActionLink("People", "Index", "People")</h2>
                            <div class="item-text">
                                Contact Members of the family
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-panel highlight">
                        <h3>@Html.ActionLink("Next Family Event", "Detail", "Event", new {eventId = eventGuid })</h3>
                        <div class="item-text">
                            <div class="row">
                                <div class="col-md-3">
                                    <img class="front-page-img" src="@Url.Content($"{serviceRoot.ServiceRoot}/familybryce.gallery/{img.GalleryId}/{img.Title}")" />
                                </div>
                                <div class="col-md-9">
                                    <b>@Html.ActionLink(frontPageEvent.Title, "Detail", "Event", new { eventId = eventGuid })</b><br />
                                    Start: @frontPageEvent.StartDate.ToString("dd MMM yyyy") <br />
                                    At: @frontPageEvent.Location.City
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-md-2 btn-link" >
                @if (!ContextService.IsLoggedIn)
                {
                    @Html.ActionLink("Log In", "Login", "Account")
                }
                
            </div>
        </div>
    </section>
</div>