@model IEnumerable<FamilyEvent>
@{
    Layout = "_Layout";
}

    <div class="col-md-10">
        <div class="row">
            <h1>Events</h1><span class="editorButton">@Html.ActionLink("Add New", "NewEvent", "Event", null, new { @class="edit-link"})</span>
        </div>
        <div>
            @foreach (var evt in Model)
            {
            <div class="row event">
                <h3>@evt.Title</h3>
                <div class="row">
                    <div class="col-md-2">Event Type: @evt.EventType</div>
                    <div class="col-md-2">Start Date: @evt.StartDate</div>
                    @Html.ActionLink("...", "Detail", "Event", new { eventId = evt.EntityId }, new { @class = "detail-link" })
                </div>
            </div>
            }
        </div>
        
    </div>

