@model IEnumerable<BryceFamily.Web.MVC.Models.Person>

@{
    ViewData["Title"] = "Family Reports - Updates since";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Updates since</h2>

<div class="row">
    <p>Here is some text about the people in the family who have passed away</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                &nbsp;
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(t => t.LastUpdated))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClanName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @Html.ActionLink("Details", "Person", "People", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
