@model IEnumerable<BryceFamily.Web.MVC.Models.Person>

@{
    ViewData["Title"] = "Family Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vale</h2>

<div class="row">
    <p>Here is some text about the people in the family who have passed away</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
            <th>
                Age
            </th>
            <th>
                &nbsp;
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(t => t.DateOfDeath.Value))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @item.DateOfBirth.Value.ToShortDateString()
                </td>
                <td>
                    @item.DateOfDeath.Value.ToShortDateString()
                </td>
                <td>
                    @(Math.Floor((item.DateOfDeath.Value.Subtract(item.DateOfBirth.Value).Days /365F)))
                </td>
                <td>
                    @Html.ActionLink("Details", "Person", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
