@model IEnumerable<BryceFamily.Web.MVC.Models.Person>

@{
    ViewData["Title"] = "Family Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vale</h2>

<div class="row">
    <p>A total of @Model.Count() family members have passed away. Here is the list from most recent to most distant.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </th>
            <th>
                Age
            </th>
            <th>
                &nbsp;
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(t => t.DateOfDeath.Value))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if (item.DateOfBirth.HasValue)
                    {
                        @item.DateOfBirth.Value.ToShortDateString()
                    }
                    else
                    {
                        @item.YearOfBirth
                    }
                </td>
                <td>
                    @if (item.DateOfDeath.HasValue)
                    {
                        @item.DateOfDeath.Value.ToShortDateString()
                    }
                    else
                    {
                        @item.YearOfDeath
                    }
                </td>
                <td>
                    @item.Age
                </td>
                <td>
                    @Html.ActionLink("Details", "Person", "People", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
