@model BryceFamily.Web.MVC.Models.AccountViewModels.RegistrationRequest

@{
    ViewData["Title"] = "Request Register";
}

<h2>@ViewData["Title"].</h2>

@if (!string.IsNullOrEmpty(ViewData["message"]?.ToString()))
{

    <div class="row">
        @ViewData["message"].ToString()
    </div>
}
<div class="row">
    @if (ViewBag.Success == true)
    {
    <div class="col-md-6">
        <h4>Request an account.</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                First Name:
            </div>
            <div class="col-md-4">
                @Model.FirstName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Last Name:
            </div>
            <div class="col-md-4">
                @Model.LastName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Email Address:
            </div>
            <div class="col-md-4">
                @Model.Email
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="RegistrationRequest" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <h4>Request an account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>
        </form>
    </div>
    }
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
