@model FamilyEvent
@inject BryceFamily.Web.MVC.Infrastructure.CDNServiceRoot serviceRoot

<div>
    <h1 class="centered">
        @Html.DisplayFor(t => t.Title)
    </h1>


    <div class="event-image">
        <img src="@Url.Content($"{serviceRoot.ServiceRoot}/familybryce.gallery/{Model.ImagePath}")" alt="image for @Model.Title"/>
    </div>

    <div class="event-description">
        @Html.Raw(Model.Details)
    </div>

    <div class="event-details">
        <h4>Details</h4>
        <div class="row">
            <div class="col-md-2">
                <label>Starts:</label>
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(t => t.FormattedStartDate)
            </div>
            <div class="col-md-2">
                <label>Finishes:</label>
            </div>
            <div class="col-md-3 ">
                @Html.DisplayFor(t => t.FormattedEndDate)
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Type:</label>
            </div>
            <div class="col-md-3 ">
                @Html.DisplayFor(t => t.EventType)
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label>Location</label>
            </div>
            <div class="col-md-10">
                <address>
                    @Html.DisplayFor(t => t.Address1)<br />
                    @Html.DisplayFor(t => t.Address2)<br />
                    @Html.DisplayFor(t => t.City)<br />
                    @if (!string.IsNullOrEmpty(Model.City))
                    {
                        @Html.DisplayFor(t => t.State)<br />
                    }
                    @Html.DisplayFor(t => t.PostCode)
                </address>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                Organiser: @Html.DisplayFor(t => t.OrganiserContact)<br />
                @Html.DisplayFor(t => t.OrganiserEmail)<br />
            </div>
        </div>
    </div>

   
    <div>
        @Html.ActionLink("Back", "Index", "Event")
    </div>
</div>