@inject BryceFamily.Web.MVC.Infrastructure.ContextService ContextService
<ul class='nav navbar-nav'>
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("History", "Index", "History")
    </li>
    <li>
        @Html.ActionLink("Events", "Index", "Event")
    </li>
    <li>
        @Html.ActionLink("Gallery", "Index", "Gallery")
    </li>
    <li>
        @Html.ActionLink("People", "Index", "People")
    </li>
    
    @if (!ContextService.IsLoggedIn)
    {
        <li>
            @Html.ActionLink("Log In", "LogIn", "Account")
        </li>
    }
    else
    {

        <li>
            @Html.ActionLink("Log Out", "LogOff", "Account")
        </li>
    }

</ul>
