@model BryceFamily.Web.MVC.Models.Person

<div class="familyMember gender @Model.Gender">
    <span><b>@Model.LastName</b>,  @Model.FirstName @Model.MiddleName</span><br />
    @if (Model.DateOfBirth.HasValue)
            {
        <span>Born: @Model.DateOfBirth.Value.ToString("dd MMM yyyy")</span><br />
    }
    @if (Model.DateOfDeath.HasValue)
            {
        <span>Passed: @Model.DateOfDeath.Value.ToString("dd MMM yyyy")</span><br />
    }
    @*@if (Model.Stories.Any())
            {
        <span>View Stories</span><br />
    }*@
    @if (Model.Galleries.Any())
            {
        <span>View Galleries</span><br />
    }
    @Html.ActionLink("Details", "Person", "People", new { id = Model.Id })<br />
</div>