@model BryceFamily.Web.MVC.Models.Person

<div class="parent row">
    <div class="col-md-3 familyMember @Model.Gender">
        @Model.LastName,  @Model.FirstName @Model.MiddleName
    </div>
    @if (Model.Unions.Any())
    {
        @foreach (var union in Model.Unions)
        {
            <div class="col-md-3 spouse">
                @union.Partner2.LastName,  @union.Partner2.FirstName @union.Partner2.MiddleName
            </div>
        }

    }
</div>