@using BryceFamily.Web.MVC.Infrastructure.Authentication
@inject BryceFamily.Web.MVC.Infrastructure.ContextService contextService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>

<div class="row">
    <div class="btn-group">

        @if (User.IsInRole(RoleNameConstants.AdminRole) || User.IsInRole(RoleNameConstants.SuperAdminRole))
        {
            @Html.ActionLink("Edit People", "List", "People", null, new { @class = "btn btn-sm" })
            @Html.ActionLink("Add New Person", "Person", "People", null, new { @class = "btn btn-sm" })
            @Html.ActionLink("Find People", "Search", "People", null, new { @class = "btn btn-sm" })
        }
        @if (User.IsInRole(RoleNameConstants.SuperAdminRole))
        {
            @Html.ActionLink("Import People File", "Import", "People", null, new { @class = "btn btn-sm" })
        }
        else
        {
            @Html.ActionLink("Log in to search for family contact details", "Login", "Account")

        }

    </div>
    <div>
        <a href="https://www.facebook.com/groups/78127174594/" target="_blank">Bryce Family Facebook Page</a>
    </div>
</div>

