@using BryceFamily.Web.MVC.Infrastructure.Authentication
@inject BryceFamily.Web.MVC.Infrastructure.ContextService contextService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>

<div class="row">
    <p>Here is some text about the people in the family - maybe something about how many there are in the clan at the moment, the 12 families etc.</p>
    <p>Also, some info about the facebook page could go in here. The link to the family facebook page is <a href="https://www.facebook.com/groups/78127174594/" target="_blank">Bryce Family Facebook Page</a></p>
</div>

<div class="row">
    
        @if (contextService.IsLoggedIn)
        {
        <div class="col-md-3">
            <h3>@Html.ActionLink("Find People", "Search", "People")</h3>
            <p>Click here to search for family members. If you are a family owner, you can also update details here.</p>
        </div>
        <div class="col-md-3">
            <h3>@Html.ActionLink("Dowload Bluebook", "Bluebook", "People")</h3>
            <p>Download a full list of all the family members and their contact details from here.</p>
        </div>
        <div class="col-md-3">
            <h3>@Html.ActionLink("Family Reports", "Index", "Reports")</h3>
            <p>A list of reports is available on this page.</p>
        </div>
        }
</div>

        @if (User.IsInRole(RoleNameConstants.SuperAdminRole))
        {
            <div class="row">
                <div class="col-md-3">
                    <h3>@Html.ActionLink("Import People File", "Import", "People")</h3>
</div>
            </div>
        }
        else
        {
            @Html.ActionLink("Log in to search for family contact details", "Login", "Account")

        }






