@model IEnumerable<BryceFamily.Web.MVC.Models.Person>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Results</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClanName)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Occupation)
                </th>
                <th>
                    &nbsp;
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(t => t.ClanName).ThenBy(f => f.LastName).ThenBy(fn => fn.FirstName)){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.ActionLink("Details", "Person", new { id=item.Id }) 
            </td>
        </tr>
}
    </tbody>
</table>
