@model BryceFamily.Web.MVC.Models.Person
@inject BryceFamily.Web.MVC.Infrastructure.ClanAndPeopleService ClanService
@inject BryceFamily.Web.MVC.Infrastructure.ContextService ContextService

@{
    ViewData["Title"] = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var clansSelect = ClanService.Clans.Select(c => new SelectListItem()
    {
        Selected = Model.ClanId == c.Id,
        Text = $"{c.Family}, {c.FamilyName}",
        Value = c.Id.ToString()
    });

}

<h2>@Model.FirstName @Model.MiddleName @Model.LastName</h2>


@if (ContextService.IsLoggedInEditor())
{
    @Html.EditorForModel()
}
else
{
   @Html.DisplayForModel()
}


